.advantages{
    .advantages-main{
        position: relative;
        background-color: #102231;
        display: flex;
        border-radius: 5px;
        .advantages-left{
            z-index: 50;
            margin-left: 47px;
            .color-p{
                color: #40A3F8;
            }
            h3{
                margin-top: 68px;
                font-size: 42px;
                color: white;
            }
            h5{
                font-size: 25px;
                color: white;
                margin: 28px 0 10px 0;
            }
            p{
                color: white;
                font-size: 16px;
                max-width: 560px;
                z-index: 20;
            }
            .ad-p{
                margin: 20px 0 40px 0;
            }
            .advantages-list{
                margin-bottom: 105px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                li{
                    display: flex;
                    gap: 5px;
                    p{
                        font-size: 16px;
                    }
                    span{
                        background-color: #00F076;
                        color: #00F076;
                        height: 14px;
                        border-radius: 50%;
                    }
                }
            }
        }
        .advantages-right{
            img{
                position: absolute;
                right: 20px;
                top: 100px;
                z-index: 0;
            }
        }
    }
}
@media only screen and (max-width: 428px){
    .advantages{
        .advantages-main{
            position: relative;
            .advantages-left{
                z-index: 50;
                margin-left: 15px;
                h3{
                    margin-top: 30px;
                    font-size: 13px;
                }
                h5{
                    font-size: 8px;
                    margin: 10px 0 10px 0;
                }
                p{
                    font-size: 5px;
                    max-width: 180px;
                    z-index: 20;
                }
                .ad-p{
                    margin: 10px 0 10px 0;
                }
                .advantages-list{
                    margin-bottom: 38px;
                    gap: 5px;
                    li{
                        gap: 5px;
                        p{
                            font-size: 5px;
                        }
                        span{
                            height: 4px;
                            font-size: 4px;
                        }
                    }
                }
            }
            .advantages-right{
                img{
                    right: 0;
                    top: 30px;
                    width: 200px;
                    opacity: 0.7;
                }
            }
        }
    }
}