.onlineDoctor{
    .onlineDoctor-main{
        width: 1280px;
        display: flex;
        flex-direction: column;
        margin: auto;
        .onlineDoctor-tittle{
            h5{
                text-align: center;
                max-width: 1130px;
                margin: 70px auto 0;
                font-size: 42px;
            }
        }
        .onlineDoctor-volume{
            margin: 17px auto 16px;
            img{

            }
        }
        .onlineDoctor-p{
            p{
                text-align: center;
                font-size: 18px;
                color: rgba(61, 61, 63, 0.7);
                max-width: 606px;
                margin: 0 auto 65px;
            }
        }
        .onlineDoctor-doctors{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            div{
                max-width: 267px;
                position: relative;
                max-height: 400px;
                .doctor{
                    position: relative;
                    bottom: 20px;
                }
                h6{
                    position: absolute;
                    left: 50px;
                    top: 280px;
                    font-size: 18px;

                }
                p{
                    position: absolute;
                    top: 305px;
                    left: 60px;
                    font-size: 14px;
                }
                div{
                    position: absolute;
                    top: 340px;
                    left: 57px;
                    display: flex;
                    gap: 20px;
                }
            }
        }
        .onlineDoctor-button{
            margin: 58px auto 0;
            button{
                width: 222px;
                height: 46px;
                background-color: #40A3F8;
                color: white;
                border-radius: 5px;
                font-size: 18px;
            }

        }
    }
}
@media only screen and (max-width: 428px){
    .onlineDoctor{
        display: none;
    }
}