.OurService{
    text-align: center;
    color: rgba(61, 61, 63, 0.7);
    font-size: calc(8px + 11 * (100vw / 1280));
    margin: 200px auto 80px auto;
    
}

.OurService h1{
    color: #000;
    font-size: calc(24px + 16 * (100vw / 1280));
    margin-bottom: 20px;
}

.OurService h3{
    color: #000;    
    font-size: calc(9px + 12 * (100vw / 1280));
    margin-bottom: 30px;
}

.OurService.container{
    max-width: 1280px;
    
}

.OurService.container img{
    max-width: 40%;
    max-height: 40%; 
    margin-bottom: 10px;   
}

.carousel{
    padding-left: 10%;
    padding-right: 10%;
}




.swiper-wrapper{
    padding:80px 0;
}

.swiper-slide{
            opacity: 0.4;
            padding:20px 0px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            border-radius: 10px;   
}


.swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 30px;
    height: 8px;
    border-radius: 10px;
    background: #40a2f8;
}


.swiper-slide-active{
    transform: scale(1.1);
    border-bottom: 15px solid #40a2f875;
    opacity: 1;
}

.carouselItems{
    display: none;
}






@media (max-width: 767px){

    .swiper{display: none;}

    .carousel{
        padding-left: 0;
        padding-right: 0;
    }

.carouselItems{
    display: grid;
    margin: 40px 0px;    
    grid-template-columns: auto auto;
    gap: 30px;
    justify-content: center;
    text-align: center;
    
}

.carouselItem h3{
    color: #000;
    margin-bottom: 15px;
}

.carouselItem{
    padding:10px 5px 5px 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;      
    border-bottom: 5px solid #40a2f875;
    background-color: rgba(255, 255, 255, 0.1);    
}
}







@media (max-width: 767px){
    .OurService{
        font-size: calc(8px + (11 + 11 * 0.7) * ((100vw - 320px) / 1280));
        margin-top: 50px;
    }   
    .OurService h1{
        font-size: calc(24px + (16 + 16 * 0.7 ) * ((100vw - 320px) / 1280));
    }
    .OurService h3{
        font-size: calc(9px + (12 + 12 * 0.7 ) * ((100vw - 320px) / 1280));
    }

    
}