.header{
    background-color: rgb(245 244 242);
    .modal-header{
        position: absolute;
    }
    .header_main{
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1280px;
        margin: auto;
        height: 80px;
        position: relative;
        .header_logo{
            flex: 2;

        }
        .header-nav{
            flex: 3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                font-size: 16px;
                color: #6E5F5F;
                &:hover{
                    color: #40A3F8;
                }
            }
        }
        button{
            border-radius: 5px;
            background-color: #40A3F8;
            color: white;
            font-size: 15px;
            height: 47px;
        }
        .nav-entry{
            width: 206px;
        }
        .nav-login{
            width: 152.8px;
            margin-left: 20px;
        }
        .nav-btn{
            visibility: hidden;
            opacity: 0;
        }
        .btn-call{
            position: absolute;
            background-color:#00F076;
            top: 75px;
            width: 152px;
            right: 13px;
        }
        .headerTittle{
            display: none;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .header{
        .header_main{
            .header-nav{
                position: fixed;
                top: 0;
                left: 0;
                transition: 1s;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: white;
                transition: 1s;
                transform: translateY(-200vh);
                z-index: 100;

            }
            .responsive_nav{
                z-index: 100;
                transform: none;
                display: flex;
                flex-direction: column;
                justify-content: start;
                a{
                    margin: 40px 0;
                }
                .nav-btns{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    button{
                        margin: 40px 0;
                    }
                }
                .nav-btn{
                    background-color: white;
                    color: black;
                    font-size: 20px;
                }
            }
            .nav-btn{
                visibility: visible;
                opacity: 1;
                font-size: 23px;
                background-color: #f3f2f0;
                color: #40A3F8;
            }
            .nav-close-btn{
                
                position: absolute;
                top: 25px;
                right: 40px;
            }
        }
    }
}
@media only screen and (max-width: 428px){
    .header{
        .header_main{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 75px;
            .header_logo{
                justify-content: left;
                img{
                    width: 146px;
                    justify-content: left;
                }
            }
            .headerTittle{
                display: block;
                position: absolute;
                right: 40px;
                font-size: 12px;
                top: 18px;
            }
            .header-nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    font-size: 16px;
                    color: #6E5F5F;
                    &:hover{
                        color: #40A3F8;
                    }
                }
            }
            button{
                border-radius: 2px;
                font-size: 15px;
                height: 47px;
            }
            .nav-btns{
                display: flex;
                justify-content: space-between;
                gap: 5px;
                .btns-number{
                    display: none;
                }
                button{
                    width: 99px;
                    height: 22px;
                    margin: 0;
                    font-size: 7px;
                    border-radius: 2px;
                }
                .btn-call{
                    position: absolute;
                    background-color:#00F076;
                    top: 50px;
                    width: 80px;
                    right: 13px;
                }
                .nav-login{
                    border: none;
                    background-color: #F3F2F0FF;
                    color: #40A3F8;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
            .nav-close-btn{
                z-index: 90;
                position: absolute;
                top: 10px;
                right: 0;
                height: 24px;
            }
            .btn_close{
                position: absolute;
                right: 35px;
                top: 12px;
                background-color: #40A3F8;
                color: white;
            }
            .responsive_nav{
                z-index: 100;
                max-width: 100%;
                margin: auto;
                transform: none;
                background-color: #40A3F8;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                a{
                    margin: 40px 0;
                    color: white;
                }
                .nav-btns{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    button{
                        margin: 40px 0;
                    }
                }
                .nav-btn{
                    background-color: #40A3F8;
                    color: white;
                    font-size: 20px;
                }
                .img-profile{
                    background-color: white;
                }
            }
        }
    }
}
